body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* CSS Color Pallete Variables */
:root {
    --black: #212121;
    --gray: #757575;
    --blue: #2196F3;
    --dark-bg: #2F303A;
    --light-bg: #F5F4FA;
}

/* Nav & Header */
.logo {
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13.5%;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;

}

.logo a {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--blue);
}

.logo a span {
    color: var(--black);
}

.nav-items {
    width: 50%;
}

.nav-items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items li {
    font-size: 14px;
}

.active a {
    color: var(--blue);
}

.contact-info {
    width: 300px;
    color: var(--gray);
}

.contact-info ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-info ul li{
    font-size: 14px;
}

.contact-info ul li a:hover{
    color: var(--blue);
    transition: 500ms;
}

/* Heading section */
.header-section {
    background-color: var(--dark-bg);
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan {
    color: white;
    font-size: 44px;
    width: 40%;
    text-align: center;
}

.header-section button {
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.reason {
    font-size: 14px;
}

.reason-title {
    font-weight: bold;
    color: var(--black);
}

.reason-text {
    color: var(--gray);
}

.section-title {
    text-align: center;
    font-size: 36px;
}

.our-team-section {
    background-color: var(--light-bg);
}

/* .member-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.member-name {
    text-align: center;
    font-weight: bold;
}

.member-role {
    text-align: center;
    color: var(--gray);
}

/* Portfolio Styling */

.project-categories-buttons button {
    color: var(--black);
    font-weight: 600;
    background-color: var(--light-bg);
    border: none;
    border-radius: 4;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
}

.project-categories-buttons button.active {
    background-color: var(--blue);
    color: white;
}

.project-name {
    font-weight: bold;
}

.project-category {
    color: var(--gray);
}


/* FOOTER */
footer {
    background-color: var(--dark-bg);
}

.footer-content > a {
    font-family: 'Raleway', sans-serif;
    color: var(--blue);
    font-size: 24px;
}

.footer-content > a span {
    color: white;
}

.footer-content .address a {
    color: var(--gray);
    font-style: normal;
}

.business-details a {
    color: var(--gray);
    font-style: normal;
}